.signup-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.signup-modal__description {
  margin-block: 0 1.5rem;
}

@media (max-width: 992px) {
  .signup-modal__description {
    font-size: 0.9rem;
  }
}

.signup-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70%;
}

@media (max-width: 992px) {
  .signup-form {
    height: auto;
    row-gap: 1rem;
  }
}

.signup-form__fieldset__legend {
  font-size: 1.25rem;
}

@media (max-width: 500px) {
  .signup-form__fieldset__legend {
    font-size: 1.1rem;
  }
}

.signup-form__fieldset__field {
  display: flex;
  margin-block: 1rem;
  width: 70%;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .signup-form__fieldset__field {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .signup-form__fieldset__field {
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
