.main-content--landing {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.success-button {
  color: white;
  background-color: rgb(177, 29, 29);
  border: 1px solid rgb(99, 16, 16);
  padding: 8px;
  border-radius: 5px;
}
